.client-page{
  @include flex-center-column;
  width: 100%;
  &__header{
    width: 100%;
    &--container{
      background-color: $blue-200;
      padding: $spacing-xxs $spacing-xs;
      @include flex-end-row;
      flex-direction: row-reverse;
      gap: $spacing-xs;
    }
  }
  &__content{
    width: 100%;
    height: calc(100vh - 162px);
    &--container{
      overflow: auto;
      height: calc(100vh - 162px);
      @include flex-center-column;
      justify-content: flex-start;
      padding: $spacing-md;
      gap: $spacing-xs;
      &--element{
        width: 100%;
      }
    }
    &--no-data{
      height: calc(100vh - 162px);
      @include flex-start-column;
      padding: $spacing-md;
    }
  }
}
