.esense-title{
  background-color: $primary-400;
  padding: $spacing-xs $spacing-md;
  color: $primary-200;
  font-size: $font-size-xs;
  h1{
    font-weight: $font-weight-semi-bold;
    padding-right: $spacing-xs;
  }
}
